%link{:rel => :stylesheet, :type => :"text/css", :href => "/stylesheets/nav-event.css"}
%header.navbar#main-nav{role: "navigation"}
  .navbar-left
    = link_to "/", class: "navbar-brand animated" do
      = image_tag "/images/events/gitlab-commit/commit-logo-2020.svg", "style": "height: 36px;"
    - if current_page.data.header_primary_cta_text
      .mobile-cta-container
        - if current_page.data.event_register_url
          %a.btn.btn-nav-cta.btn-nav-link-cta{href: current_page.data.event_register_url}
            = current_page.data.header_primary_cta_text
        - else
          %a.btn.btn-nav-cta.btn-nav-link-cta{href: current_page.data.header_primary_cta_url}
            = current_page.data.header_primary_cta_text
  .navbar-right
    = partial "includes/layout/nav-event"
  .mobile-icons
    %button.mobile-icon#mobile-icon
      .icon-bar
      .icon-bar
      .icon-bar
  .display-none.mobile-menu#mobile-menu
    %button.exit-icon-container#exit-icon
      = image_tag "/images/icons/x.svg", class: "exit-icon", alt: "Gitlab x icon svg"
    = partial "includes/layout/nav-event"

%script{src: "/javascripts/mobile-menu.js", type: "text/javascript"}
%script{ src: "/javascripts/libs/tweenmax.min.js", type: "text/javascript" }
